<div id="homeView">
	<div id="homeView_header">
		<div id="homeView_header_top"></div>
		<div id="homeView_header_cont">
			<div id="homeView_header_content"></div>
		</div>
		<div id="homeView_header_bot"></div>
		<div id="homeView_welcome"></div>
	</div>
	<div id="homeView_content">
		<div id="homeView_meta">
			<div id="homeView_resume">
				<div id="homeView_resume_img" title="点击查看简历"></div>
				<div id="homeView_resume_text"></div>
			</div>

			<div id="homeView_date">
				<div id="homeView_date_week"></div>
				<div id="homeView_date_day">22</div>
				<div id="homeView_date_year">二〇一七年十一月</div>
			</div>

			<div id="homeView_weather">
				<div id="weather_icon"></div>
				<div id="weather_title"></div>
				<div id="weather_temperature"></div>
			</div>
		</div>
		<dir id="homeView_body">
			<div id="homeView_radom">
			</div>
			<div id="homeView_near">
			</div>
		</dir>
	</div>
</div>